<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="queues" value="desktop-ufuu7vm\private$\test,desktop-ufuu7vm\private$\test2,desktop-ufuu7vm\private$\test3"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--<QueueInfo>
			<Queue Path="desktop-ufuu7vm\private$\test" />
			<Queue Path="desktop-ufuu7vm\private$\test2" />
			<Queue Path="desktop-ufuu7vm\private$\test3" />
	</QueueInfo>-->
</configuration>